@keyframes tumbleIn {
    0% {
      transform: rotate(360deg) scale(0.5) translateY(-100px);
      opacity: 0;
    }
    80% {
      transform: rotate(10deg) scale(1.1) translateY(0);
      opacity: 1;
    }
    100% {
      transform: rotate(0deg) scale(1) translateY(0);
      opacity: 1;
    }
  }
  
  .tumbling {
    animation: tumbleIn 1s ease-out;
  }

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  75% { transform: translateX(-2px); }
  100% { transform: translateX(0); }
}

.shake-icon {
  transition: transform 0.3s ease, color 0.3s ease;
}

.shake-button:hover .shake-icon {
  transform: scale(1.2); /* Lekko powiększ lupkę*/
  animation: shake 0.4s ease-in-out;
  color: #007bff; /* zmień kolor po najechaniu myszką */
}

.drop-in {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .drop-in.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .slide-in {
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .slide-in.visible {
    opacity: 1;
    transform: translateX(0);
  }

  .group-hover .dropdown-menu {
    transition: opacity 0.9s ease, transform 0.9s ease;
    opacity: 1;
    transform: translateY(0);
  }

  .dropdown-menu {
    opacity: 0;
    transform: translateY(-10px);
  }